*{/**********pour enlver le style predefinie******************/
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;/*ajoute un effet sur le scroll au clique*/
}
/*******fonts********/
@font-face {
    font-family: 'Brannboll Fet';
    src: url('../fonts/BrannbollFet.eot');
    src: url('../fonts/BrannbollFet.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrannbollFet.woff2') format('woff2'),
        url('../fonts/BrannbollFet.woff') format('woff'),
        url('../fonts/BrannbollFet.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaExtended';
    src: url('../fonts/FuturaExtended.eot');
    src: url('../fonts/FuturaExtended.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaExtended.woff2') format('woff2'),
        url('../fonts/FuturaExtended.woff') format('woff'),
        url('../fonts/FuturaExtended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*********fin fonts**************/
/** debut header***/
header{
    height: 100vh; /***100 %,la hauteur de l'ecran***/
    background: url("../img/fond.jpg") center bottom fixed; /******centrer limage et la fixer et positionner********/
    background-size: cover; /*****occuper tout lespace et renier le reste********/
    display: flex;/***mettre les efants les un a coter des autres****/
    justify-content: center; /***répartition sur la largeur****/
    align-items: center; /***répartition sur la hauteur****/

}
header nav{/*******preciser que cest la nav de mon header*********/
    position: fixed; /*****bloque la navigation au scroll******/
    top: 50%; /****positionnement de la hauteur de la nav******/
    left: 5%;/********positionnement de la largeur de la nav*****************/
    transform: translateY(-50%);/**********permet de remonter de 50% de la taille de l'élement pour le centrer *
    parfaitement *****************/
}
header nav ul{
    list-style: none;/**enléve les ronds de la liste**/

}
header nav ul li {
    margin: 0 80px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 0;
    text-shadow: 2px 2px 6px black;/*********decallage sur x et decallage sur y et le flou et rajouter une couleur a lombre***************/
    }
    header nav ul li:first-of-type {
        border-bottom: 3px solid white; /* une bordure sur la première li de la nav***mettre tjr l epaisseur la couleur et le style***/
        }

header nav ul li a{
    text-decoration: none; /* enleve le soulignement*/
    color: white; /* couleur du texte*/
    font-size: 30px; /*********taille du texte**************/
    font-family:'FuturaExtended'; /**change la famille de typo */
    font-weight: bold; /**change l'epaisseur du texte */
    text-transform: uppercase; /**passe le texte en majiscule*/

    
}
header nav ul li a:hover {
    opacity: 0.5; /**va creer une opacité au survol**/
    color: black; /**couleur au survol du texte*
    */
}
header > div{
    width: 250px;/*******largeur de la div***********/
    height: 250px; /**********hauteur de la div*************/
    border-radius: 50%; /******permet  d arrondir les angles*******/
    background-color: black ; /****fond de couleur****/
    display: flex;/*******centrer le texte dans la div et devnir flexible********/
    justify-content: center; /*********repartition sur la largeur**************/
    align-items: center;/*********repartition sur la hauteur**************/
}

header div h1 {/*********selectionne la div qui contient le texte************/

    color: white;
    text-align: center;
    font-size: 40px;/*******la taille de la font*******/
    line-height: 50px;/*****interlignage*******/
    font-family: 'Brannboll Fet';
}
header div h1::first-letter{/*********selectionne la premeire lettre en majuscule************/
text-transform: uppercase;
}
/******************fin header************************/
main {
    background-color: rgb(34, 32, 32);
    padding: 100px 0; /*****ajoute du rembourage (marge interne) à la section*******************/
    display: flex;
    justify-content: end;/****centre les div enfants********/
}
section {
    width: 70%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
   }
   section>div{//*****div de premier niveau*****/
    overflow: hidden;/*******masque les element de depassement*********/
    position: relative;/**permet a la div enfant de dependre de son parent**********/
    cursor: pointer;/*****change le curseur de la,souris en main*******/
    margin: 25px;
   }
section div {
    width: 200px;/******largeur de la div*********/
    height: 200px;/******hauteur de la div*********/
    border-radius: 50%;
    overflow: hidden;/**********pour controler le debordement du contenu***********/
    position: relative;/************permet a la div enfnat (absolute) de dependre de son parent**********/
  }
section>div>img{
    width: 100%;/******fait 100% de la taille de son parent*******/
    opacity: 0.7;//******opacité de l'image******/
    transition: 0.5s;/*******la transition se met sur l'element*******/
}


section >div>div{
    position: absolute;
   top: 0;
   left: 0;
   background: rgba(199, 184, 184, 0.8);
   transform: scale(0.8); /******permet la reduction par le centre*****/
   transition: 0.5s;/****la transition se met sur l'element qui s 'anime*****/
}
section>div:hover div{/**********hover sur le parent pour atteindre lenfant**********/
    transform: scale(0);/******va creer une reduction**********/
}
section>div:hover img{/******hover sur le parent pour atteindre l'enfant********/
    transform: scale(1.2);/*******va creer un agrandissement*******/
}
footer{
    height: 300px;
    background-color: rgb(142, 147, 145);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Brannboll Fet';
    text-transform: capitalize;
}